.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.card {
  margin: 0;
}

.container {
  display: flex !important;
  justify-content: space-around;
}

.ui.card:first-child {
  margin-top: 14px !important;
}

.ui.card{
  height: 383px !important;
}


